/*===========================
 Author:Mohammad Nurilam Mridha
 ===========================*/
/*======Common Section Start=====*/
@import url("./system.css");

.admin-body {
  max-width: 1450px !important;
}
.nav-stricky {
  width: 100%;
  position: fixed !important;
  top: 0 !important;
}
.main-body {
  margin-top: 80px;
}

.left-sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  width: 200px;
}
.right-sidebar {
  margin-left: 200px;
}
.sidebar-pointer a {
  cursor: pointer;
}
.login-body {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
