/*===========================
 Author:Mohammad Nurilam Mridha
 ===========================*/
/*======Common Section Start=====*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
}
body {
  font-family: "Hind Siliguri", sans-serif;
}
.fixed-width {
  max-width: 1450px;
  /* background-color: #ddd; */
  margin: 0 auto;
}
.border-top {
  border-top: 2px solid #e2e2e2;
}
.border-right {
  border-right: 2px solid #e2e2e2;
}
.border-bottom {
  border-bottom: 2px solid #e2e2e2;
}
.border-left {
  border-left: 2px solid #e2e2e2;
}
.img {
  width: 100%;
  height: auto;
}
.img img {
  width: 100%;
  height: 100%;
}
.hour {
  font-size: 11px;
}
p {
  font-size: 14px;
}

/*======Common Section End=====*/

/*======Header Section Start=====*/

.pro-header i {
  font-size: 20px;
  font-weight: lighter;
}
.header-icon {
}
.header-icon img {
}
/*======Header Section End=====*/
/*======Navbar Section Start=====*/
.pro-nav {
  border-top: 2px solid #e2e2e2;
  border-bottom: 2px solid #e2e2e2;
}
.inner-nav {
  margin: 0 100px;
}
.inner-nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
}
.inner-nav ul li {
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
}
.inner-nav ul li:hover {
  color: blue;
  cursor: pointer;
}
.st {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
  box-shadow: 3px 5px #e2e2e2;
}

/*======Navbar Section End=====*/
/*======Header News Section Start=====*/
.banner-add {
  width: 800px;
  height: 100px;
}
.banner-add img {
  width: 100%;
  height: 100%;
}
.header-news-left {
  border-right: 2px solid #e2e2e2;
}
/*======Header News Section End=====*/
/*======Footer Section Start=====*/
.pro-footer ul {
  list-style-type: none;
}
.first-foo {
  list-style-type: circle !important;
}
.pro-footer ul li {
  padding: 15px;
}
.footer-bottom {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.footer-bottom li {
}
.footer-bottom li i {
  font-size: 20px;
  border-radius: 50%;
  padding: 15px;
  background-color: #e2e2e2;
}
.footer-apps {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto auto auto;
}
/*======Footer Section End=====*/

@media screen and (max-width: 768px) {
  .pro-nav {
    display: none;
  }
  .img {
    width: 300px;
    height: auto;
  }
  .img img {
    width: 100%;
    height: 100%;
  }
}
